.card {
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 100ms ease-in;
}

.card:hover {
  transform: scale(1.07);
}

.card > img {
  object-fit: fill;
  min-width: 300px;
  min-height: 200px;
  width: 100%;
  border-radius: 10px;
}

.card > h2 {
  font-size: 19px;
  font-weight: 600;
  color: rgb(34, 34, 34);
  margin-top: 5px;
}
