.citiesDistance {
  display: flex;
  position: relative;
  margin-top: 30px;
  flex: 0 1 50% !important;
  text-overflow: ellipsis !important;
  cursor: pointer;
}

.citiesDistance > img {
  height: 70px;
  border-radius: 10px;
  transition: transform 100ms ease-in;
}

.citiesDistance > img:hover {
  transform: scale(1.09);
}

.citiesDistance__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
}

.citiesDistance__infoTop {
  width: 15vw;
}

.citiesDistance__infoTop > h4 {
  font-weight: 500;
  margin-top: 10px;
}

.citiesDistance__infoBottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: 400;
}
