.search {
  position: absolute;
  top: 35px;
  left: 25%;
  width: 100vw;
}

.search > Button {
  position: absolute;
  left: 0;
  top: 350px;
  text-transform: inherit !important;
  background-color: #ff385c;
  color: white;
  width: 579px;
}

.search > Button:hover {
  background-color: white;
  color: #ff385c;
}
